In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("adult.csv")

In [3]:
df.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

In [5]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education_until',
       'marital_status', 'occupation', 'relationship', 'race', 'sex',
       'capital_gain', 'capital_loss', 'hours_per_week', 'native_country',
       'income'],
      dtype='object')

In [6]:
df.replace('?', np.NaN, inplace=True)
df = df.dropna()

In [7]:
df.shape

(30162, 15)

In [8]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education_until',
       'marital_status', 'occupation', 'relationship', 'race', 'sex',
       'capital_gain', 'capital_loss', 'hours_per_week', 'native_country',
       'income'],
      dtype='object')

In [9]:
df = df.drop(["fnlwgt"], axis = 1)

In [10]:
cols_to_transform = [ 'workclass', 'education', "marital_status", "race", 'occupation', 'relationship', 'sex', 'hours_per_week', "native_country"]
df_with_dummies = pd.get_dummies(df,columns = cols_to_transform )

In [11]:
df_with_dummies.shape

(30162, 197)

In [12]:
y = df_with_dummies['income']
X = df_with_dummies.drop(['income'], axis=1)

In [13]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)
X_train.shape, X_test.shape

((21113, 196), (9049, 196))

In [14]:
from sklearn.naive_bayes import GaussianNB

In [15]:
gnb = GaussianNB()
gnb.fit(X_train, y_train)

y_pred = gnb.predict(X_test)

In [16]:
from sklearn.metrics import accuracy_score
print("Accuracy Score ", accuracy_score(y_test, y_pred) * 100)

Accuracy Score  80.20775776328875

In [17]:
from sklearn.metrics import confusion_matrix

print("Confusion Matrix \n", confusion_matrix(y_test, y_pred))

Confusion Matrix
 [[5366 1395]
 [ 396 1892]]

In [18]:
from sklearn.metrics import classification_report

print("Report \n", classification_report(y_test, y_pred))

Report
               precision    recall  f1-score   support

       <=50K       0.93      0.79      0.86      6761
        >50K       0.58      0.83      0.68      2288

    accuracy                           0.80      9049
   macro avg       0.75      0.81      0.77      9049
weighted avg       0.84      0.80      0.81      9049